@reference "tailwindcss";

@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  background-color: #f9f5f1;
}
@layer base {
  body {
    @apply font-sans text-[#2E2E2E];
  }
}
@layer components {
  .title {
    @apply font-serif text-3xl md:text-4xl font-semibold;
  }
}
h2 {
  font-family: "Playfair Display", serif;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) rotate(var(--rotate)) scale(1);
  }
}
